$full: 100%;
$c: #f1c40f;

$s:5%;
@mixin eyes(){
	background:radial-gradient(#000 15%, #fff 15%);
}
html,body {
    width: $full;
    height: $full;
    background: $c;
    position: absolute;
    z-index: 0;
    display: block;
   
    &:before,&:after {
        content: "" !important;
        display: block !important;
        background: $c;
        z-index: 9999999999999999;
        position: absolute;
     
    }
} 
html{
	&:before{
		width:$s*1.4;
		height:10vw;
		border-radius:100%;
		@include eyes();
		left:0;
		margin:15vw 40%; 
	}
	&:after{
		width:$s*1.4;
		height:10vw;
		border-radius:100%;
		@include eyes();
		left:0;
		margin:15vw 55%;
	}


body{
	&:before{
		width:$s*4.4 ;
		height:10vw*2;
		background:linear-gradient(-139deg,$c 50%,#000 50%,#000 51%,#fff 51%,#fff 58%,#000 58%);
		-webkit-transform:rotate(-40deg);
		border-radius:100%;
		right:0 ;
		left:0;
		margin:22vw auto;
		border-top:.2em solid $c;
		border-right:.2em solid $c;
		border-left: .2em solid #000;
		border-bottom: .2em solid #000;
	}

	 * {
        position: absolute;
        display: none;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
    }
}
}