$full: 100%;
$c: #f1c40f;

$s:5%;

html,body {
    width: $full;
    height: $full;
    background: $c;
    position: absolute;
    z-index: 0;
    display: block;
   
    &:before,&:after {
        content: "" !important;
        display: block !important;
        background: $c;
        z-index: 9999999999999999;
        position: absolute;
     
    }
} 
html{
	&:before{
		width:$s*1.4;
		height:10vw;
		border-radius:100%;
		background:#000;
		left:0;
		margin:15vw 40%;
	}
	&:after{
		width:$s*1.4;
		height:10vw;
		border-radius:100%;
		background:#000;
		left:0;
		margin:15vw 55%;
	}


body{
	&:before{
		width:$s*4.4 ;
		height:10vw*2;
		background:linear-gradient($c 50%,#000 50%);
		border-radius:100%;
		right:0 ;
		left:0;
		margin:22vw auto;
	}

	 * {
        position: absolute;
        display: none;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
    }
}
}