html, body {
  width: 100%;
  height: 100%;
  background: #f1c40f;
  position: absolute;
  z-index: 0;
  display: block; }
  html:before, html:after, body:before, body:after {
    content: "" !important;
    display: block !important;
    background: #f1c40f;
    z-index: 9999999999999999;
    position: absolute; }

html:before {
  width: 7%;
  height: 10vw;
  border-radius: 100%;
  background: -webkit-radial-gradient(black 15%, white 15%);
  background: radial-gradient(black 15%, white 15%);
  left: 0;
  margin: 15vw 40%; }
html:after {
  width: 7%;
  height: 10vw;
  border-radius: 100%;
  background: -webkit-radial-gradient(black 15%, white 15%);
  background: radial-gradient(black 15%, white 15%);
  left: 0;
  margin: 15vw 55%; }
html body:before {
  width: 22%;
  height: 20vw;
  background: -webkit-linear-gradient(229deg, #f1c40f 50%, black 50%, black 51%, white 51%, white 58%, black 58%);
  background: linear-gradient(-139deg, #f1c40f 50%, black 50%, black 51%, white 51%, white 58%, black 58%);
  -webkit-transform: rotate(-40deg);
  border-radius: 100%;
  right: 0;
  left: 0;
  margin: 22vw auto;
  border-top: 0.2em solid #f1c40f;
  border-right: 0.2em solid #f1c40f;
  border-left: 0.2em solid black;
  border-bottom: 0.2em solid black; }
html body * {
  position: absolute;
  display: none;
  z-index: 0;
  visibility: hidden;
  opacity: 0; }
